// ==========================================================================
// Base Styles
// ==========================================================================

html, body, ul, ol {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  line-height:1.5;
}

body {
  background-color: #fff;
  padding:0px;
  margin:0px;
}
  

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

p {
  font-weight:normal;
  margin-bottom:.5em;
}

// ========================================================
// Container Block 
// ========================================================

.container {
  max-width: 1200px;
  margin: auto;
  clear: left;
 } 

.breadcrumbs {
  margin:0px;
  color: #696969;
  font-size:12px;
  padding:5px 0 5px 20px; 
}

// ========================================================
// Product Title 
// ========================================================

.product-title {
  background-color: $brand-color-a;
  padding:15px 0 15px;
  margin:0;

  @media only screen and (min-width: 768px) {
    background-color: #fff;
    padding:0px 0 0px;
    width:37%;
    padding-left:34%;
  }
 
  h1 {
    font-size:16px;
    font-weight:400;
    color: #fff;
    padding-left:20px;
    margin:0px;
    text-transform: uppercase;

    @media only screen and (min-width: 768px) {
      font-size:20px;
      font-weight:600;
      color:$brand-color-a;
      padding-left:0px;
    }
  }
}

// ========================================================
// Product Sub Title 
// ========================================================


.product-subtitle {
  color:#666;
  margin:auto;
  margin:0px;
  padding:10px 10px 0 20px;

  @media only screen and (min-width: 768px) {
    padding: 0px 10px 0 34%;
    width:37%;
  }
  
  h2 {
    margin:0;
    font-size:14px;
    font-weight: 500;
    float:left;    
  }
}

// ========================================================
// Diet Icons
// ========================================================

.diet-icons{
  margin:0px;
  padding:0px 0px;
  float:right;
  
  @media only screen and (min-width: 768px) {
    padding: 0px 0 0 0;
  }

  ul {
    padding:0; 
    margin:0;
  }

  li {
    margin:0px 10px 0 0;
    list-style-type: none;
    display:inline-block;

    &:first-child {
    margin-right:0;    
    }
  
    @media only screen and (min-width: 768px) {
      margin-right:0;
    }
  }
}

.icon-glutten-free, .icon-glutten-free:hover span {
    width:25px;
    height:25px;
    background-image: url("../img/sprite.png");
    background-color: transparent;
    background-position: -243px -587px;
}

.icon-vegitarian {
    width:25px;
    height:25px;
    background-image: url("../img/sprite.png");
    background-color: transparent;
    background-position: -595px -62px;
}


// ========================================================
// Product Image 
// ========================================================

.product-image {
  max-width:1200px;
  margin: 0px 20px 20px 20px;
  border: 1px solid #dcdcdc;
  text-align: center;

  @media only screen and (min-width: 768px) {
    margin:-55px 20px 20px;
  }
  
  img {
    border:none;
    width:100%;
    max-width:300px;
    margin: auto;
    display: block;
  }
}

// ========================================================
// Product Info
// ========================================================

.product-info {
  max-width:1200px;
  padding: 0px 0 0 0;
  text-align: center;

  @media only screen and (min-width: 768px) {
    text-align:left;
    padding: 0px 0 0 0;
  }
  
  .price {
    text-align: center;
    margin:0;
    color:$brand-color-a;
    font-size:20px;
    font-weight:600;

    @media only screen and (min-width: 768px) {
      text-align:left;
    }
  }
}

// ========================================================
// Star Rating 
// ========================================================

.rating {
  margin:auto;
  font-size:12px;
  font-weight:200;

  @media only screen and (min-width: 768px) {
    margin:0;
  }
}

.rating-stars-container {
  width:75px;
  height:14px;
  background-image: url("../img/myprotein-global-sprite.png");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: -155px 0;
  display:inline-block;
    
  @media only screen and (min-width: 768px) {
    margin:0;
  }
}

.rating-stars {
  width:68px;
  height:14px;
  background-image: url("../img/myprotein-global-sprite.png");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 -115px;
}

.rating-reviews {
  width:50px;
  font-size:12px;
  font-weight:200;
  display:inline-block;
  text-align:left;

  @media only screen and (min-width: 768px) {
    margin:0;
    text-align:left;
  }
}

// ========================================================
// Availability
// ========================================================

.availablity {
  max-width:1200px;
  padding:10px 0px;
  margin:0;
  font-size:12px;
  font-weight:200;
  display:block;
}

// ========================================================
// Product Selection 
// ========================================================

.product-selection {
  background-color:#f3f3f3;
  max-width:1200px;
  padding: 20px;

  @media only screen and (min-width: 768px) {
    background-color:#fff;
    padding: 0px;
  }
}

.product-variations {
  max-width:1200px;
  font-size:16px;
  @media only screen and (min-width: 768px) {
    font-size:14px;
  }
}

.product-variations__dropdown{
  margin: 0 0 10px;
}

select {
  display: block;
  width: 100%;
  padding-left: 5px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #fff;

  @media only screen and (min-width: 768px) {
    width: 80%;
    height: 30px;
  }
}

// ========================================================
// Related Products
// ========================================================

.panel {
  display: none;
  margin:20px;
    
  @media only screen and (min-width: 768px) {
    display:block;
    margin-top:-55px;
  }
}

.panel__head {
  margin:0;
  color:#495f73;
  background-color: #ddd;

  h2 {
    font-size: 16px;
    padding: 12px 20px;
    margin: 0;
    font-weight:200;
  }
}
    
.item-highlight {
  border: 1px solid #ddd;
  border-top:0;
  padding:10px;
  vertical-align: top;
}

.item-highlight--img {
  max-width:70px;
  border:0;
  display: inline-block;
  vertical-align: top;

  img{
    width:auto;
    max-width:70px;
    border:0;
  }
}

.item-highlight--info {
  width:auto;
  border:0;
  display: inline-block;
  vertical-align: top;

  p {
    font-size: 14px;
    font-weight:200;
    color:#495f73;
    margin:0;
  }

  span {
    font-size: 16px;
    font-weight:400;
    color:#495f73;
  }
}

// ========================================================
// Product Promotion 
// ========================================================

.product-promo {
    display: block;
    max-width:1200px;
    margin:20px;
    padding:20px;
    border: 1px solid #005b9b;
    color: #0076be;
    text-align:center;

    @media only screen and (min-width: 768px) {
      margin:20px 0;
      width:75%;
    }

  p {
    font-size: 14px;
    font-weight: 400;
  }
  
  h3 {
    color: #0076be;
    font-size: 18px;
    font-weight: 700;
    margin:0;
  }

  a {
    color:$brand-color-a;
    font-size:18px;
    cursor: pointer;
    text-decoration: none;
  }
}


// ========================================================
// GRID & Columns 
// ========================================================


.grid {
  max-width:1200px;
  margin:auto;
}

.col {
  float:left;
  margin-right:1%;

  &:last-child{
    margin-right:0;
  }
}

.col--images {
  width:100%;

  @media only screen and (min-width: 768px) {
    width:33%;
  }
}

.col--details {
  width:100%;
  
  @media only screen and (min-width: 768px) {
    width:40%;
  }
}

.col--related {
  width:100%;

  @media only screen and (min-width: 768px) {
    width:25%;
  }
}













