// ==========================================================================
// Footer
// ==========================================================================


.footer {
  margin:0;
  width:100%;
  background-color:#fff;
  height:100px;
}
  .copyright{
    margin:0;
    width:100%;
    padding:0px 20px;
    background-color:#303E4B;
    height:100px;

  }