// ==========================================================================
// Buttons



 .btn {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  cursor: pointer;
  background:$green;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  text-align: center;
  margin:10px 0;

}

.btn:hover {
	background:$brand-color-a;
	text-decoration: none;
}